/* Styles for the header block */

.headerContainer { 
  background-color: #000000;
}

.headerInnerContainer {
  position: relative;
}

.headerDetailContainer { 
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
}

.headerButtonContainer { 
  width: fit-content;
  margin: auto;
}

.headerButton {
  display: inline-block;
  color: white;
  border: white;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem auto;
}

.headerButton:hover {
  color: white;
  background-color: #404040;
  text-decoration: none;
}

.headerTagline {
  margin: auto;
  padding: 0.5rem;
  color: white;
  text-align: center;
}

.headerImage {
  margin: auto;
}


/* Styles for the features */

.featureSection {
  position: static;
}

.featureTitle {
  color: red;
  margin: 0.5rem auto;
  text-align: center;
}

.featureText { 
  text-align: center;
  font-weight: 500;
  font-size: large;
}

/* Styles for the sponsor blocks */

.sponsorSection { 
  background-color: #e0e0e0;
}

.sponsorText { 
  text-align: center;
  font-weight: 500;
  color: #202020;
  font-size: large;
}

.sponsorImageContainer {
  width: 20rem;
  height: 10rem;
  place-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.sponsorImage {
  display: block; 
  margin: auto;
  object-fit: contain;
}