@tailwind base;
@tailwind components;
@tailwind utilities;

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

p code {
  border-radius: 3px;
}

.chat-message p {
  margin: 0;
}

.user-message p code {
  background-color: aliceblue;
}

.bot-message p code {
  background-color: cornflowerblue;
}

.bot-message li > code {
  background-color: cornflowerblue;
}

ol {
  list-style-type: decimal;
  margin: 1.0em;
}

li {
   padding: 0.2em;
}

#ChatPrompt ::-webkit-scrollbar {
  display: none;
}

pre {
  color: black;
  white-space: pre-wrap;
  word-break: break-word;
}
