:root{
  --ifm-color-primary-lightest: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
}
