@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  
  background: #fff; }

#site-header .navbar-wrapper a {
  color: #f9b32a; }

#site-footer {
  background: #530b0e; }

::-moz-selection {
  background: #ED2124;
  color: #FFFFFF; }

::selection {
  background: #ED2124;
  color: #FFFFFF; }


  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
     }

pre {
  background: rgba(244, 243, 244, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #F4F3F4; }

#content code {
  color: #837F84;
  background-color: #F4F3F4; }

#sidebar-wrapper {
  background: #530b0e; }

#page-content-wrapper .nav a {
  color: #530b0e; }
  #page-content-wrapper .nav a:hover {
    color: #530b0e; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #86201e; }
.sidebar-nav > li a.active {
  border-left: 3px solid #86201e;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #530b0e; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #530b0e; }
