/* your custom css */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .newsletter-form {
    margin-right: 50px;
  }
  .newsletter-input:focus,
  .newsletter-input:active {
    width: 220px;
  }
  .newsletter-form label {
    display: block;
  }
}

@media only screen and (max-width: 1023px) {
  .newsletter-form {
    margin-right: 20px;
  }

  .newsletter-form label {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.welcome {
  padding-left: 30px
}

.gitter-chat-embed {
  z-index: 10000;
}

a {
  color: #bd271a
}

.blockContent h2 {
  color: #bd271a
}

.homeContainer {
  background: #000000 url("../img/jumbotron_pattern.png") no-repeat center bottom;
  padding-top: 176px;
  padding-bottom: 90px;
}

.projectTitle {
  color: #ffffff
}

.promoSection .button {
  color: #ffffff;
  border-color: #ffffff;
}

.promoSection .button:hover {
  color: #000000;
  background-color: #ffffff;
}

.mainContainer {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-footer .sitemap .nav-home {
  width: 150px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
  font-size: 1.25em;
  line-height: 18px;
  margin: 0;
  position: relative;
  z-index: 9999;
}

.sponsorsSection {
  padding: 0 20px 40px;
  text-align: center
}

.sponsorsSection h2 {
  color: #bd271a;
  font-size: 30px;
  line-height: 1em;
  margin-top: 30px;
  padding: 30px 0 0;
  text-align: center
}

.sponsorsSection p {
  margin: 0 auto;
  max-width: 560px;
  padding: .8em 0
}

.sponsorsSection .blockImage {
  margin-bottom: 20px;
  max-width: 240px;
}

.sponsorsSection .blockImage img {
  height: 120px;
  object-fit: contain;
}

.newsletter-form {
  float: right;
}

.newsletter-form label {
  color: #fff;
  padding-left: 8px;
}

.newsletter-input {
  padding: 8px 16px 8px;
  background: #20232a;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  width: 170px;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  transition: 0.5s width ease;
}

.newsletter-button {
  padding: 8px 16px 8px 8px;
  background: #bd271a;
  color: #fff;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: .1em;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0 25px 25px 0;
  border: none;
}

.newsletter-button:hover{
  opacity: 90%;
}

.input-group {
  display: flex;
}

.input-group-append {
  margin-left: -1px;
}
