name: Website

on:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-20.04
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2
      - name: Setup Scala and Java
        uses: olafurpg/setup-scala@v10
      - name: Publish Github pages
        run: sbt docs/docusaurusPublishGhpages
        env:
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
